:root {
  font-family: "Open Sans", Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--mui-palette-background-default);
  color: var(--mui-palette-text-primary);
}
html {
  background-color: var(--mui-palette-background-default);
}


h1,
h2,
h3 {
  margin: 0;
}
